    </main>
   <script src="assets/js/index.js" type="module"></script>
    <footer class="body__footer">
        <a href="/mentions-legales" class="body__footer--link">Mentions légales</a>
    </footer>
</body>
</html>
    
