    </main>

    <footer class="body__footer">
        <a href="/mentions-legales" class="body__footer--link">Mentions légales</a>
        <a href="/contact" class="body__footer--link"> Contact </a>
    </footer>
</body>
</html>
    
