<!DOCTYPE html>
<html lang="en">
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ciné-Delice || Recettes</title>
        <link rel="stylesheet" href="../../../public/assets/css/reset.css">
        <link rel="stylesheet" href="style.css">
</head>
<body>
<header>

<nav>
<section class="en-tête">
<img src="/ciné-Delices/logo.png" alt="logo">
<h2> Lasagnes Bolognaise</h2>
<a href="#">Connexion</a>

</section>

<section class="navbar">
<ul>
<li> <a href="#"> Recettes</a></li>
<li> <a href="/ciné-Delices/contact.html"> contact</a></li>
<li> <a href="/ciné-Delices/filmographie.html"> Filmographie</a></li>
</ul>
</section>
</nav>
</header>
