<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciné-Delices</title>
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<body>
    <header>
        <nav>
            <!-- Section du haut avec le logo et les liens de connexion / inscription -->
            <section class="navbar-top">
                <a href="/"> <img src="/assets/img/logo-1.jpg" alt="logo" class="logo"> </a>
                <div class="auth-links">
                    <!-- Si l'utilisateur est connecté, afficher le lien vers le profil et déconnexion -->
                    <% if (user) { %>
                        <a href="/profil">Bonjour <%= user.pseudo %> !</a>
                        <a href="/deconnexion">Déconnexion</a>
                        <a href="/recette/select-film">Créer une recette</a>
                        <!-- <a href="/recette/:id/modifier">Modifier une recette</a> -->
                        <a href="/profil"> Mon profil</a>
                    <% } else { %> 
                        <!-- Si l'utilisateur n'est pas connecté, afficher les liens Connexion et Inscription -->
                        <a href="/connexion">Connexion</a>
                        <a href="/inscription">Inscription</a>
                    <% } %>
                    
                </div>
            </section>

            <!-- Titre de l'application -->
            <h2>Ciné-Delices</h2>

            <!-- Menu de navigation principal -->
            <section class="navbar">
                <ul>
                    <li><a href="/recettes">Recettes</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/films">Filmographie</a></li>
                </ul>
            </section>
        </nav>
    </header>


