<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/<%= css %>.css">
    <title>CinéDélices || Accueil</title>
</head>
<body class="body">
    <header class="body__header">
        <img src="./assets/img/logo.webp" alt="Logo Ciné Délices" class="body__header--img">
        <article class="body__header--ctnTitle">
            <h1 class="body__header--ctnTitle-title">CinéDélices</h1>
            <nav class="body__header--ctnTitle-nav">
                <ul class="body__header--ctnTitle-nav-ctn">
                    <a href="/recettes" class="body__header--ctnTitle-nav-ctn-link">
                        <li class="body__header--ctnTitle-nav-ctn-link-row">Recettes</li>
                    </a>
                    <a href="/contact" class="body__header--ctnTitle-nav-ctn-link">
                        <li class="body__header--ctnTitle-nav-ctn-link-row">Contact</li>
                    </a>
                    <a href="/filmographie" class="body__header--ctnTitle-nav-ctn-link">
                        <li class="body__header--ctnTitle-nav-ctn-link-row">Filmographie</li>
                    </a>
                </ul>
            </nav>
        </article>
        <article class="body__header--connect">
            <a href="/connexion" class="body__header--connect-link">Connexion</a>
            <article class="body__header--connect-burger">
                <article class="body__header--connect-burger-ctn">
                    <div class="body__header--connect-burger-line"></div>
                <div class="body__header--connect-burger-line"></div>
                <div class="body__header--connect-burger-line"></div>
                </article>                
            </article>
        </article>        
    </header>
</body>
</html>