

header {
    background-color: #2A2D34;
    color: white;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Section avec le logo et les liens de connexion */
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    width: 4rem;
    height: auto;
    border-radius: 40%;
}

/* Liens d'authentification */
.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.auth-links a:hover {
    text-decoration: underline;
}

/* Titre principal */
header h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
    font-family: 'Georgia', serif;
    color: bisque;
}

/* Barre de navigation principale */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1E1F26;
    padding: 0.3rem;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    background-color: #CE1902;
    padding: 0.4rem 1rem;
    margin: 0 0.5rem;
    border-radius: 18%;
    font-size: 1.1rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #d44a2e;
}

/* Liens généraux */
a {
    text-decoration: none;
    color: white;
}

.navbar-header img {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    border-radius: 40%;
}


.recipies{
    margin-top: 150px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.recipe {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.name-recipe {
    margin: 10% 25%;
    font-size: 1.5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-image {
    width: 15rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.recipe-img {
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 8rem;
    height: 8rem;
    border-radius: 10%;
    border: 2px solid white;
}


.img-symbole{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.symbole {
    width: 35px;
    height: 35px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #CE1902;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #2A2D34;
    color: #CE1902;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: #CE1902;
    font-size: 1.2rem;
}

@media (min-width: 600px) {
    .recipies {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1024px) {
    .recipies {
        grid-template-columns: repeat(4, 1fr); 
    }
}
