header{
    background-color: #2A2D34;
    padding-bottom: 2.3rem;
    height: 10rem;

}

.navbar-header h2{
    color:bisque;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}


.navbar ul{
    display: flex;
    justify-content: space-evenly;



}
.navbar li{
    background-color: #CE1902;
    color : white;
    list-style: none;
    display: flex;
    border-radius: 18%;
    padding: 0.5rem 1.2rem;
    font-size : 1.3rem;
    margin-top: -2rem;
    
}

a {
    text-decoration: none;
    color: white;
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 2rem 0rem;
    margin-bottom: -2rem;
    margin-top: -2rem;


}

.navbar-header img  {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    border-radius: 40%;
}

main{
    display: flex;
}

.infos{
    margin: 2rem;
    padding: 2rem;
    background-color: #CE1902;
}

.infos img {
    margin: 1rem;
    padding-bottom:2rem;
    width: 8rem;
    border-radius: 40%;
    margin: 0 25%;
}

.materials {
    margin-top: 1.4rem;
    background-color: #EEEBD3;
    padding : 0.2rem 

    
}

.ingredients {
    margin-top: 1.4rem;
    background-color: #EEEBD3;
    padding : 0.2rem 
}

.description{
    margin: 2rem
}

.description img{
    width: 45rem;
    height: 20rem;
    margin: 0 7rem;
    
}

.script{
    background-color: #EEEBD3;
}

footer{
    background-color: #2A2D34;
    color: #CE1902;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

}

footer a {
        text-decoration: none;
        color: #CE1902; 
        font-size: 1.2rem;
}