header {
    background-color: #2A2D34;
    color: white;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Section avec le logo et les liens de connexion */
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    width: 4rem;
    height: auto;
    border-radius: 40%;
}

/* Liens d'authentification */
.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.auth-links a:hover {
    text-decoration: underline;
}

/* Titre principal */
header h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
    font-family: 'Georgia', serif;
    color: bisque;
}

/* Barre de navigation principale */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1E1F26;
    padding: 0.3rem;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    background-color: #CE1902;
    padding: 0.4rem 1rem;
    margin: 0 0.5rem;
    border-radius: 18%;
    font-size: 1.1rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #d44a2e;
}

/* Liens généraux */
a {
    text-decoration: none;
    color: white;
}

.navbar-header img  {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    border-radius: 40%;
}


h2 {
    text-align: center;
    color: #333;
}

form {
    margin: 0 40%;
    font-size: 1.2rem;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #CE1902;
    border-radius: 4px;
    background-color: #EEEBD3;
}





button {
    margin-top: 20px;
    padding: 10px;
    background-color: #CE1902;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.choice-button {
   display: flex;
   justify-content: space-around
}

.connexion{
    color: #333;
    margin-left: 40%;
    font-size: 1rem;
    
}

.blue{
    color: blue;
    /* margin-left: 40%; */
}
button:hover {
    background-color: #8b2012;
    
}

footer{
    background-color: #2A2D34;
    color: #CE1902;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

}

footer a {
        text-decoration: none;
        color: #CE1902; 
        font-size: 1.2rem;
}
