<%- include('partial/header') %>
<link rel="stylesheet" href="/assets/css/contact.css">
<main>
    <h3>Merci, <% pseudo %> !</h3>
    <p>Nous avons bien reçu votre message et vous répondrons bientôt.</p>
</main>

<%- include('partial/footer') %>
</body>
</html>