<%- include('partial/header') %>
<link rel="stylesheet" href="/assets/css/contact.css">
<main>
    <h3> Vous pouvez nous contacter soit : </h3>

    <section class="coordinates">
        <span>
            <p>Par mail : contact@ciné-délices.fr</p>
        </span>
        <span>
            <p>Par téléphone: 07.08.25.58.99</p>
        </span>
    </section>

    <section>
        <h3> En remplissant le formulaire : </h3>
        <section>
            <form class="form" action="/contact" method="POST">
                <div class="contact">
                    <label for="pseudo"> Pseudo: </label>
                    <input type="text" id="pseudo" placeholder="pseudo" name="pseudo" required>

                    <label for="adresse-mail"> Adresse Mail</label>
                    <input type="email" id="mail" placeholder="adresse mail" name="mail" required>
                </div>

                <span class="text">
                    <textarea name="text" id="text" cols="60" rows="10" required></textarea>
                </span>

                <span class="submit">
                    <button type="submit">Envoyer</button>
                </span>
            </form>
        </section>
    </section>
</main>

<%- include('partial/footer') %>
</body>
</html>
