<%- include('partial/header') %>
<link rel="stylesheet" href="/assets/css/contact.css">
<main>
<h3> Vous pouvez nous contacter soit : </h3>

<section class="coordinates">
    <span>
        <p>Par mail : contact@ciné-délices.fr</p>
    </span>
    <span>
        <p>Par téléphone: 07.08.25.58.99</p>
    </span>
</section>

<section>
    <h3> En remplissant le formulaire : </h3>
<section>
<span>
    <form class="form">
        <div class="contact">
        <label for="pseudo"> Pseudo: </label>
        <input type="text" id="pseudo" placeholder="pseudo" name="pseudo">
        <label for="adresse-mail"> Adresse Mail</label>
        <input type="text" id="mail" placeholder="adresse mail">
        </div>
        <span class="text">
         <textarea name="text" id="text" cols="60" rows="10"></textarea>
        </span>
        <span class="sumbit">
         <button type="submit">Se connecter</button>
        </span>
    </form>
</span>
</section>
</section>
</main>

<%- include('partial/footer') %>


</body>
</html>