
<%- include('partials/header') %>

<link rel="stylesheet" href="/assets/css/contact.css">
<main>
    <section class="contact-form-container">
        <h3>Merci, <%= pseudo %> !</h3>
        <p>Nous avons bien reçu votre message et vous répondrons bientôt.</p>
        <p>Votre message : <%= text %></p>
    </section>
</main>

<%- include('partials/footer') %>
</body>
</html>