
<main class="body__main">
    <h2 class="title">Créer une Recette</h2>
    <!-- nom a validé -->
    <form action="recette/valider" method="POST" enctype="multipart/form-data" class="form">
        <article class="form-level">
            <label for="name" class="label">Nom de la recette * :</label>
            <input class="input" type="text" id="name" name="name" required>
        </article>

        <article class="form-level">
            <h3 class="subtitle">Catégorie *</h3>
            <div class="sub-cat">
                <label for="category" class="label">Entrée</label>
                <input type="radio" name="category" value="starter">
            </div>
            <div class="sub-cat">
                <label for="category" class="label">Plat</label>
                <input type="radio" name="category" value="maincourse">
            </div>
            <div class="sub-cat">
                <label for="category" class="label">Dessert </label>
                <input type="radio" name="category" value="dessert">
            </div>
            <div class="sub-cat">
                <label for="category" class="label">Boisson</label>
                <input type="radio" name="category" value="beverage">
            </div>                   
        </article>
        <article class="form-level">
            <label class="label" for="video">Extrait du film :</label>
            <input class="input" type="url" id="video" name="video" placeholder="https://www.youtube.com/watch?v=nsIpBTl0ab4&ab_channel=ImaginationInstitute">
        </article>

        <article class="form-level">
            <label for="description" class="label">Description de la recette *:</label>
            <input type="text" name="description" id="description" rows="4" required placeholder="Décrivez la recette...">
        </article>

        <article class="form-level">
            <label class="label" for="image">Photo de la recette :</label>
            <input class="image-btn" type="file" id="image" name="image">
        </article>

        <!-- <section class="multiple-levels">
            <h3 class="subtitle">Ustensiles *</h3>                
            <article class="tools-list">
                <p class="add-elt">+</p>
                <ul class="ctn-items">
                        <li class="ctn-items-list" id="no-item">Aucun élément sélectionné</li>
                </ul>
            </article>

            <article class="form-add-tools">
                <h3 class="add-title">Ajouter</h3> 
                <div>
                   <label class="label" for="tool">Ustensiles * :</label>
                   <select name="tool" id="tool" class="select">
                        <option value="">Sélectionner</option>
                        DYNAMISER EJS  
                           <option value=""></option>-->
                                              
                   </select>
                   <button type="button" class="add-btn">Ajouter</button>
                   <button type="button" class="end-btn">J'ai tout</button>
                </div>                        
            </article>
        </section>

        <section class="multiple-levels">
            <h3 class="subtitle">Ingrédients *</h3>                
            <article class="ingredients-list">
                <p class="add-elt">+</p>
                <ul class="ctn-ingredients">
                   <li class="ctn-ingredients-list" id="no-ingredients">Aucun élément sélectionné</li>
                </ul>
            </article>

            <article class="form-add-ingredients">
                <h3 class="add-title">Ajouter</h3> 
                <div>
                   <label class="label" for="ingredients">Ingrédients * :</label>
                   <input name="ingredient" id="ingredient" class="select">
                        <option value="">Sélectionner</option>
                                              
                    </input>
                    <button type="button" class="add-btn">Ajouter</button>
                    <button type="button" class="end-btn">J'ai tout</button>
                </div>                        
            </article>
        </section>

        </article>
        <article class="form-level">
            <!-- <label class="label" for="steps">Etapes :</label> -->
            <!-- <textarea class="description-text-box" id="description" name="description" rows="4" required placeholder="Décrivez la recette..."></textarea> -->
        
<br>       
        <!-- Stephanie ici la instruction a geré) -->
        <label class="instruction-title" for="instructions">Instructions :</label> -->
        <textarea class="instruction-text-box" id="instructions" name="instructions" rows="5" required placeholder="Décrivez les étapes de préparation..."></textarea>
<br>
        <label class="time-title" for="time">Temps de préparation (en minutes) :</label>
        <input class="time-text-box" type="number" id="time" name="time" min="1" required>
<br>

<br>

        <button class="submit-btn" type="submit">Envoyer la Recette</button>
<br>
    </form>
</main>

<%- include('partials/footer') %>