<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Ciné-Délices</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="/assets/img/logo.png" alt="Logo Ciné-Délices" class="logo">
        </div>
        <h1 class="page-title">Connexion</h1>
    </header>

    <main class="main-content">
        <div class="contact-container">
            <h2 class="contact-heading">Je me connecte</h2>
            
            <div class="contact-info">
           
            </div>

            
                <form class="contact-form" action="/contact" method="POST">
                  
                        <div class="form-group">
                            <label for="pseudo">Pseudo </label>
                            <input type="pseudo" id="pseudo"  name="pseudo"  required>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="password"> Mot de passe:</label> 
                                <input type="password"id="pseudo" name="pseudo" required>
                            </div>
                    </div>
                    <div class="form-group">
                       
                    </div>
                    <button type="submit" class="submit-btn">connexion</button>
                </form>
            </div>
        </div>

        <nav class="side-nav">
            <ul>
                <li><a href="/recettes">Recettes</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/filmographie">Filmographie</a></li>
            </ul>
            <button class="close-btn">X</button>
        </nav>
    </main>
</body>
</html>


