    <%- include(/partials/header') %>
        <main>
            <section class="infos">
                <div>
                    <img src="/ciné-Delices/garfield.jpg" alt="">
                </div>
                <div class="video-container">
                    <iframe width="300" height="200"
                    src="https://www.youtube.com/embed/T-7YWIhiiXM"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                    </iframe>
                </div>

                <article class="matériels">
                    <h3> Ustensiles : </h3>
                    <ul>
                        <li>Poêle</li>
                        <li>four</li>
                        <li>moule</li>
                    </ul>
                </article>

                <article class="ingrédients">
                    <h3> Acteurs : </h3>
                    <ul>
                        <li>steak</li>
                        <li>pâtes à lasagnes</li>
                        <li>béchamel</li>
                        <li>sauce tomate</li>
                    </ul>
                </article>
            </section>

            <section class="description">
                <div>
                    <img src="/ciné-Delices/lasagne.jpg" alt="lasagnes">
                </div>

                <article class="script">
                    <h3> Script</h3>
                    <p> etape 1 </p>
                    <p> etape 2 </p>
                    <p> etape 3 </p>
                    <p> etape 4 </p>
                </article>
            </section>
        </main>

        <%- include('/partials/footer') %>